<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= pageTitle %></h1>
            <hr>
            <div>
                <img src="<%= product.imageUrlimag  %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            <div class="card_actions">
                <%- include('../includes/add-to-cart.ejs') %>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>